{% extends 'base.html' %}
{% block logo %}
    <a class="navbar-brand" href="{% url 'movie_list' %}"><img
            src="https://img3.doubanio.com/dae/accounts/resources/0246c88/movie/assets/lg_movie@2x.png"
            alt="" id="img_dx"></a>
{% endblock %}

{% block nav %}
    <form class="navbar-form navbar-right" role="search">
        <select id="select" class="form-control" name="select">
            <option>排名</option>
            <option>电影名</option>
            <option>导演</option>
            <option>时间</option>
            <option>国家</option>
            <option>类型</option>
        </select>
        <div class="form-group">
            <input type="text" class="form-control search" placeholder="Search" name="search">
        </div>
        <button type="submit" class="btn btn-default submitBtn">Submit</button>
    </form>
{% endblock %}

{% block main %}
    <ul class="list">
        {% for movie in movies %}
            <li>
                <div class="thumbnail-group">
                    <img src="../static/images/movie/{{ movie.top }}.jpg" alt=""
                         class="thumbnail">
                    <span class="movie-top">{{ movie.top }}</span>
                </div>
                <div class="movie-info">
                    <p class="title">{{ movie.name }}</p>
                    <p class="dtcs">{{ movie.director }}</p>
                    <p class="dtcs">{{ movie.time }} / {{ movie.country }}</p>
                    <p class="dtcs">{{ movie.style }}</p>
                    <p class="scross-group">
                        <span class="scross">{{ movie.mark }}</span>
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block yema %}
    <ul class="pagination">
        {% if last_request %}
            {% if page_obj.has_previous %}
                <li><a href="{% url 'movie_list' %}{{ last_request }}&page={{ page_obj.previous_page_number }}">上一页</a>
                </li>
            {% else %}
                <li class="disabled"><a href="javascript:void(0);">上一页</a></li>
            {% endif %}
            {% if left_has_more %}
                <li><a href="{% url 'movie_list' %}{{ last_request }}&page=1">1</a></li>
                <li><a href="javascript:void(0);">...</a></li>
            {% endif %}

            {#        左边页码#}
            {% for foo in left_page %}
                <li><a href="{% url 'movie_list' %}{{ last_request }}&page={{ foo }}">{{ foo }}</a></li>
            {% endfor %}

            <li class="active"><a href="{% url 'movie_list' %}/{{ last_request }}&page={{ current }}">{{ current }}</a>
            </li>

            {#        左边页码#}
            {% for foo in right_page %}
                <li><a href="{% url 'movie_list' %}{{ last_request }}&page={{ foo }}">{{ foo }}</a></li>
            {% endfor %}

            {% if right_has_more %}
                <li><a href="javascript:void(0);">...</a></li>
                <li><a href="{% url 'movie_list' %}{{ last_request }}&page={{ num }}">{{ num }}</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li><a href="{% url 'movie_list' %}{{ last_request }}&page={{ page_obj.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="disabled"><a href="javascript:void(0);">下一页</a></li>
            {% endif %}

        {% else %}
            {% if page_obj.has_previous %}
                <li><a href="{% url 'movie_list' %}?page={{ page_obj.previous_page_number }}">上一页</a></li>
            {% else %}
                <li class="disabled"><a href="javascript:void(0);">上一页</a></li>
            {% endif %}
            {% if left_has_more %}
                <li><a href="{% url 'movie_list' %}?page=1">1</a></li>
                <li><a href="javascript:void(0);">...</a></li>
            {% endif %}

            {#        左边页码#}
            {% for foo in left_page %}
                <li><a href="{% url 'movie_list' %}?page={{ foo }}">{{ foo }}</a></li>
            {% endfor %}

            <li class="active"><a href="{% url 'movie_list' %}?page={{ current }}">{{ current }}</a></li>

            {#        左边页码#}
            {% for foo in right_page %}
                <li><a href="{% url 'movie_list' %}?page={{ foo }}">{{ foo }}</a></li>
            {% endfor %}

            {% if right_has_more %}
                <li><a href="javascript:void(0);">...</a></li>
                <li><a href="{% url 'movie_list' %}?page={{ num }}">{{ num }}</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li><a href="{% url 'movie_list' %}?page={{ page_obj.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="disabled"><a href="javascript:void(0);">下一页</a></li>
            {% endif %}

        {% endif %}

    </ul>
{% endblock %}



